/*! SassBase - v1.2.2 | MIT | @edsloandev */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, ul, ol, li, form, a {
  margin: 0;
  padding: 0;
  background: transparent;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

img {
  border: 0;
  max-width: 100%;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  text-align: left;
  vertical-align: top;
}

input, textarea, select {
  font-size: 110%;
  line-height: 1.1;
}

html {
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  color: #111;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: #f5f5f5;
}

html, body {
  height: 100%;
}

h1, .aplha {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #111;
}
a:visited {
  color: #111;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 6px 12px;
  text-align: center;
  border-radius: 6px;
  border: 2px solid transparent;
}
.btn:hover {
  opacity: 0.8;
}
.btn--main {
  background: #111;
  color: #ccc;
  border-color: black;
}
.btn--main-ghost {
  background: transparent;
  color: #111;
  border-color: #111;
}
.btn--alt {
  background: #ccc;
  color: #111;
  border-color: #a6a6a6;
}
.btn--alt-ghost {
  background: transparent;
  color: #ccc;
  border-color: #ccc;
}
.btn--success {
  background: #2ECC40;
  color: #fff;
  border-color: #208e2c;
}
.btn--warn {
  background: #FF4136;
  color: #fff;
  border-color: #e90d00;
}
.btn--sm {
  padding: 3px 6px;
}
.btn--lg {
  padding: 12px 24px;
}

.pin-bg {
  border-bottom: 2px dashed #aaa;
  margin-bottom: 20px;
}

.head {
  padding: 8px 0;
}
.head .scales {
  margin-top: 5px;
  margin-bottom: 5px;
}
.head h3 {
  text-align: center;
  margin: 8px 0;
}
.head p {
  margin: 8px 0;
  text-align: right;
}
.head button:disabled {
  background: #ccc;
  opacity: 0.2;
  border-color: #ccc;
}
.head button:disabled:hover {
  cursor: auto;
  opacity: 0.2;
}

.city {
  border-radius: 12px;
  padding: 16px 8px;
  text-align: center;
  margin-bottom: 26px;
  height: 113px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}
.city p {
  font-weight: bold;
  font-size: 14px;
}
.city span {
  font-weight: normal;
}

.footer {
  background: #fff;
  padding: 8px 0;
  text-align: center;
}
.footer a {
  text-decoration: underline;
}

.icon {
  background-image: url(../assets/icons.png);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-position: -245px -245px;
}

.\30 1d {
  background-position: -5px -5px;
}

.\30 1n {
  background-position: -65px -5px;
}

.\30 2d {
  background-position: -125px -5px;
}

.\30 2n {
  background-position: -185px -5px;
}

.\30 3d {
  background-position: -5px -65px;
}

.\30 3n {
  background-position: -65px -65px;
}

.\30 4d {
  background-position: -125px -65px;
}

.\30 4n {
  background-position: -185px -65px;
}

.\30 9d {
  background-position: -5px -125px;
}

.\30 9n {
  background-position: -65px -125px;
}

.\31 0d {
  background-position: -125px -125px;
}

.\31 0n {
  background-position: -185px -125px;
}

.\31 1d {
  background-position: -5px -185px;
}

.\31 1n {
  background-position: -65px -185px;
}

.\31 3d {
  background-position: -125px -185px;
}

.\31 3n {
  background-position: -185px -185px;
}

.\35 0d {
  background-position: -245px -5px;
}

.\35 0n {
  background-position: -245px -65px;
}

@media (max-width: 767px) {
  .city {
    width: 23%;
  }
}
@media (max-width: 600px) {
  .city,
  .head .x4 {
    width: 31.33333333%;
  }

  .footer {
    text-align: center;
    height: auto;
  }
}
@media (max-width: 450px) {
  .city {
    width: 48%;
  }
}

/*# sourceMappingURL=styles.css.map */
