//
//_breakpoints.scss - Breakpoint styling declarations.
//Width defintions are found in _theme.scss
//

//large
@media #{$large-breakpoint} {
    .city {
    	width: 23%;
    }

}

//small
@media #{$small-breakpoint} {
	.city,
	.head .x4 {
		width: 31.33333333%;
	}
	.footer {
		text-align: center;
		height: auto;
	}

}

//supersmall
@media #{$supersmall-breakpoint} {
	.city {
		width: 48%;
	}
}