//
//_project.scss - Project specific styles.
//this should be kept as small as possible.
//

//vars
$button-disabled-bg: #ccc;
$footer-height: 49px;


//pins
.pin-bg {
	border-bottom: 2px dashed #aaa;
	h3 {
		text-align: center;
		margin: 8px 0;
	}
}

//cities
.city {
	border-radius: $border-radius;
	padding: 16px 8px;
	text-align: center;
	margin-bottom: 32px;
	height: 113px;
	@include vendor(box-shadow, 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
	background: #fff;
	p {
		font-weight: bold;
		font-size: $alt-font-size;
	}
	span {
		font-weight: normal;
	}
}


//footer
.footer {
	background: $alt-bg-color;
	padding: 10px 0;
	height: $footer-height;
	button:disabled {
		background: $button-disabled-bg;
		opacity: 0.2;
		border-color: $button-disabled-bg;
		&:hover {
			cursor: auto;
			opacity: 0.2;
		}
	}
	p {
		line-height: ($footer-height / 2);
	}
}