.icon {
    background-image: url(../assets/icons.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background-position: -245px -245px;
}

.\30 1d {
    background-position: -5px -5px;
}

.\30 1n {
    background-position: -65px -5px;
}

.\30 2d {
    background-position: -125px -5px;
}

.\30 2n {
    background-position: -185px -5px;
}

.\30 3d {
    background-position: -5px -65px;
}

.\30 3n {
    background-position: -65px -65px;
}

.\30 4d {
    background-position: -125px -65px;
}

.\30 4n {
    background-position: -185px -65px;
}

.\30 9d {
    background-position: -5px -125px;
}

.\30 9n {
    background-position: -65px -125px;
}

.\31 0d {
    background-position: -125px -125px;
}

.\31 0n {
    background-position: -185px -125px;
}

.\31 1d {
    background-position: -5px -185px;
}

.\31 1n {
    background-position: -65px -185px;
}

.\31 3d {
    background-position: -125px -185px;
}

.\31 3n {
    background-position: -185px -185px;
}

.\35 0d {
    background-position: -245px -5px;
}

.\35 0n {
    background-position: -245px -65px;
}