//
//_typography.scss - Typography declarations.
//

h1, h2, h3, h4, h5, h6 {

}
h1,.aplha {
	text-transform: uppercase;
}
h2,.beta {

}
h3,.charlie {

}
h4,.delta {

}
h5,.echo {

}
h6,.foxtrot {

}
p {

}
a {
	text-decoration: none;
	color: $main-font-color;

	&:hover {

	}
	&:visited {
		color: $main-font-color;
	}
}
strong {

}
b {

}
small {
	
}
hr {
	
}